.screen{
     transition: all 500ms ease-in-out;
}

#view-camera{
     width: 100vw;
     height: 100vh;
     background-color: blue;
}

#view-camera #button{
     background-color: red;
     border-radius: 100px;
     width: 50px;
     height: 50px;
     padding: 5px;
     margin: 5px;
}

.slick-list {
    outline: none !important;
}

#view-results{
     width: 100vw;
     height: 100vh;
}

#view-results .dial-parent{
     position: absolute;
     bottom: 20px;
     left: 20px;
     z-index: 10;
}

#view-results .result{
     position: relative;
     width: 100%;
}

#view-results .accordion-item{
     height: 250px;
     width: 30%;
     transition: all 500ms ease-in-out;
     float: left;
     background-color: #ffcece;
     border-right: 1px solid #fff;
     border-left: 1px solid #fff;
}

#view-results .accordion-item.collapsed{
     width: 10%;
}

#view-results .accordion-item.active{
     width: 70%;
}
